body{

margin:0;
background:#202225;
font-family:Arial;
color:white;

display:flex;

}

.sidebar{

width:230px;
background:#2f3136;

height:100vh;

padding:20px;

}

.sidebar a{

display:block;

padding:12px;

margin-top:10px;

color:white;

text-decoration:none;

background:#36393f;

border-radius:8px;

}

.sidebar a:hover{

background:#5865F2;

}

.content{

flex:1;

padding:25px;

}

.card{

background:#2f3136;

padding:20px;

border-radius:12px;

margin-bottom:20px;

}
